<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQBvxCMH3B5eHgSCHAC_WqpRICURw_hPk</string>
	<key>GCM_SENDER_ID</key>
	<string>839826333179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tk11203.scanner</string>
	<key>PROJECT_ID</key>
	<string>objectscanner-5854a</string>
	<key>STORAGE_BUCKET</key>
	<string>objectscanner-5854a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839826333179:ios:a53ef6d22c1e8bc8017f5e</string>
	<key>DATABASE_URL</key>
	<string>https://objectscanner-5854a-default-rtdb.firebaseio.com</string>
</dict>
</plist>